target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
.vscode/
.idea/
.idea
.idea/vcs.xml
../.idea/
*.swp
*.swo
*.swn
*.DS_Store
logs

JavaMultiThreadInAction_jcstress-tests/.classpath
